*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: gray;
}

.fa-bars{
    position: fixed;
    top: 3rem;
    right: 3rem;
    color: coral;
    cursor: pointer;
}

.side-bar{
    background-color: azure;
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translate(-100%);
    transition: 0.3s;
}
.side-header{
    text-align: right;
    padding: 2rem;
}
#closeSide{
    cursor: pointer;
}
.side-bar li{
    margin-bottom: 1.5rem;
    
}
.side-bar a{
    text-decoration: none;
    color: gray;
    width: 100%;
    display: block;
    font-size: 2rem;
    padding-left: 2rem;
    
}
.side-bar a:hover{
    background-color: coral;
   padding-left: 2.5rem;
   color: azure;
}

.show-sidebar{
    transform: translate(0);
}


@media (max-width:768px) {
    .side-bar{
        width: 100%;
    }
}