*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordions{
    
   width: 80vh;

}
.accordion{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 10px;

}

.accordionHeader{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    
}

.accordionHeader h1{
    display:inline;
    
}
.accordionHeader button{
    cursor:pointer;
    border: none;
    text-decoration: none;
    background: transparent;
    font-size: 1.5rem;
}

.accordionContent{
    margin-top: 0.7rem;
}
.invisible{
    display: none;
}